<nav class="bottom-nav">
    <ul class="bottom-nav-list">
        <!-- HOME -->
        <li class="nav-item" data-label="Home">
        <button class="nav-btn" type="button">
            <!-- circle aktif -->
            <div class="nav-circle">
            <span class="material-symbols-outlined nav-circle-icon">home</span>
            <span class="nav-circle-text">Home</span>
            </div>
            <!-- icon di bar -->
            <span class="material-symbols-outlined nav-icon">home</span>
        </button>
        </li>

        <!-- SCAN -->
        <li class="nav-item" data-label="Scan">
        <button class="nav-btn" type="button">
            <div class="nav-circle">
            <span class="material-symbols-outlined nav-circle-icon">qr_code_scanner</span>
            <span class="nav-circle-text">Scan</span>
            </div>
            <span class="material-symbols-outlined nav-icon">qr_code_scanner</span>
        </button>
        </li>

        <!-- MAPS -->
        <li class="nav-item" data-label="Maps">
        <button class="nav-btn" type="button">
            <div class="nav-circle">
            <span class="material-symbols-outlined nav-circle-icon">location_on</span>
            <span class="nav-circle-text">Maps</span>
            </div>
            <span class="material-symbols-outlined nav-icon">location_on</span>
        </button>
        </li>

        <!-- PROFILE -->
        <li class="nav-item" data-label="Profile">
        <button class="nav-btn" type="button">
            <div class="nav-circle">
            <span class="material-symbols-outlined nav-circle-icon">person</span>
            <span class="nav-circle-text">Profile</span>
            </div>
            <span class="material-symbols-outlined nav-icon">person</span>
        </button>
        </li>
    </ul>
</nav>